# Import Data

In [1]:
import pandas as pd

In [2]:
#orders_url = 'https://raw.githubusercontent.com/JannesPeeters/DEAD/main/data/orders.csv'
#products_url = 'https://raw.githubusercontent.com/JannesPeeters/DEAD/main/data/products.csv'
#customers_url = 'https://raw.githubusercontent.com/JannesPeeters/DEAD/main/data/customers.csv'
#regions_url = 'https://raw.githubusercontent.com/JannesPeeters/DEAD/main/data/regions.csv'

#orders = pd.read_csv(orders_url)
#products = pd.read_csv(products_url)
#customers = pd.read_csv(customers_url)
#regions = pd.read_csv(regions_url)

# directly read csv seems to be faster
orders = pd.read_csv('../DEAD/data/orders.csv')
products = pd.read_csv('../DEAD/data/products.csv')
customers = pd.read_csv('../DEAD/data/customers.csv')
regions = pd.read_csv('../DEAD/data/regions.csv')

In [3]:
products.Type.unique()

array(['ADVENTURING EQUIPMENT', 'TOOLS & KITS', 'MUSICAL INSTRUMENT',
       'POTIONS & SCROLLS', 'ARMS & ARMOUR', 'ANIMALS & TRANSPORTATION',
       'JEWELRY', 'SUMMONING DEVICE'], dtype=object)

In [4]:
customers['Key Account'].unique()

array(['Private Buyer', 'No Key Account', 'Bardic College Union',
       'House of Wonders', 'Nobility', "Sprite's & Spirits", 'Zhentarim',
       'Black Phoenix', "Bottle's Up", 'Clothes Contact',
       'Lionshield Coster', "Night's Knights", 'Order of the Gauntlet',
       'Three Wishes'], dtype=object)

In [5]:
regions['Region'].unique()

array(['Thayan Empire', 'Amnian Empire', 'Waterdhavian Empire',
       'Purple Dragon Empire', 'Halruaan Empire', 'Calim Empire',
       'New Neverwinter Empire', 'United Moonshae Empire',
       'Bloodlands Empire', 'None Empire', 'Dwarven Empire',
       'Southern Empire', 'Eastern Empire', 'Old Empire',
       'Western Empire'], dtype=object)

# Merge All Tables

In [6]:
# Splitting Orders Table by Products
orders[['Products_split']] = orders[['Products']].apply(lambda x: x.str.split(';'))
orders[['productsIDs_split', 'Quantities_splits', 'ProductPricesInCP_split']] = orders[['productsIDs', 'Quantities', 'ProductPricesInCP']].apply(lambda x: x.str.split(','))

orders = orders.explode(['Products_split','productsIDs_split', 'Quantities_splits', 'ProductPricesInCP_split'])
orders.drop(['Products','productsIDs', 'Quantities', 'ProductPricesInCP'],axis=1,inplace=True)

orders[['productsIDs_split', 'Quantities_splits']] = orders[['productsIDs_split', 'Quantities_splits']] .astype(int)
orders['ProductPricesInCP_split'] = orders['ProductPricesInCP_split'] .astype(float)
orders['OrderDate'] = pd.to_datetime(orders['OrderDate'])
orders['DeliveryDate'] = pd.to_datetime(orders['DeliveryDate'])

In [7]:
# Join all other tables

combine = orders.merge(products, left_on ='productsIDs_split', right_on = 'product_code', how = 'left')\
                .merge(customers.drop(['Territory'],axis=1), left_on ='CustomerID', right_on = 'Account Code', how = 'left')\
                .merge(regions, on = 'Territory', how = 'left')

In [8]:
combine.shape

(878427, 30)

In [9]:
pd.set_option('display.max_columns', None)
combine.head()

,OrderID,OrderDate,DeliveryDate,CustomerID,Territory,CartPriceInCP,CartPrice,Products_split,productsIDs_split,Quantities_splits,ProductPricesInCP_split,product_code,Business Unit,Type,Products Business Line Leader,Subtype,Product Name,Brand Name,Brand Manager,Account Code,Account Type,Key Account,Key Account Manager,Account Name,Account Manager,Nation,Region,Regional Manager,Area,Area Manager
0,1,2019-01-01,2019-01-11,54295995,Bloodstone (Damara),10285,102 GP; 8 SP; 5 CP,Blood of the Lycanthrope Antidote,12436254,8,1128.0,12436254,ADVENTURING,POTIONS & SCROLLS,Bruno Notlot,POTIONS & ALCHEMY,Blood of the Lycanthrope Antidote,MYTHAL,Arentian Mythrandius,54295995,No Key Account,No Key Account,No Key Account Manager,Capucine's Steel Bloodstone (Damara),Lauren Masiak,Damara,Bloodlands Empire,Magdalena Fracci,North,Christine Moore
1,1,2019-01-01,2019-01-11,54295995,Bloodstone (Damara),10285,102 GP; 8 SP; 5 CP,Blanket,24180928,4,2728.0,24180928,ADVENTURING,ADVENTURING EQUIPMENT,Bubbles,SURVIVAL & WILDERNESS,Blanket,U.N.N.,Ruralion Baeneduren,54295995,No Key Account,No Key Account,No Key Account Manager,Capucine's Steel Bloodstone (Damara),Lauren Masiak,Damara,Bloodlands Empire,Magdalena Fracci,North,Christine Moore
2,1,2019-01-01,2019-01-11,54295995,Bloodstone (Damara),10285,102 GP; 8 SP; 5 CP,Robe of Serpents,97076903,9,5517.0,97076903,ADVENTURING,ADVENTURING EQUIPMENT,Bubbles,CLOAK,Robe of Serpents,U.N.N.,Ruralion Baeneduren,54295995,No Key Account,No Key Account,No Key Account Manager,Capucine's Steel Bloodstone (Damara),Lauren Masiak,Damara,Bloodlands Empire,Magdalena Fracci,North,Christine Moore
3,1,2019-01-01,2019-01-11,54295995,Bloodstone (Damara),10285,102 GP; 8 SP; 5 CP,"Mirror, steel",33879927,3,912.0,33879927,ADVENTURING,TOOLS & KITS,Kay Glimshine,TOOLS,"Mirror, steel",RED CURTAIN,Siras Invictus,54295995,No Key Account,No Key Account,No Key Account Manager,Capucine's Steel Bloodstone (Damara),Lauren Masiak,Damara,Bloodlands Empire,Magdalena Fracci,North,Christine Moore
4,2,2019-02-03,2019-02-05,30949079,Arrabar,1196,11 GP; 9 SP; 6 CP,Sword of Life Stealing,43737386,1,91.0,43737386,LUXURY SPECIALTIES,ARMS & ARMOUR,T'avin T'soban,MARTIAL MELEE WEAPON,Sword of Life Stealing,ARCANTIC,Enthoril Murkywaters,30949079,Key Account,Clothes Contact,Asuma Bahamut,Clothes Contact Arrabar,NaN,Chondath,Calim Empire,Mitchell Brown,South,Cipriano Seidel

In [10]:
combine.to_csv('orders_merge.csv',index=False)
combine.to_json('orders_merge.json', orient='records',index=False)

# Special Preparation for Scatterplot V1

In [11]:
# special preprocessing for graph AM_5

In [12]:
def preprocess_scatter(combine, cols = ['Type', 'Key Account']):
    
    # create year
    combine['order_year']=combine['OrderDate'].dt.year
    cols.append("order_year")

    # select relevant columns
    all_cols = cols + ["ProductPricesInCP_split"]
    data_viz1 = combine[all_cols]
    
    # group by year and cols
    data_viz1 = data_viz1.groupby(cols).sum().reset_index()
    data_viz1 = data_viz1.sort_values(by='order_year')
    
    return data_viz1

In [13]:
data_viz1_region = preprocess_scatter(combine, cols = ['Type', 'Key Account','Region'])

In [14]:
data_viz1_region.to_csv('data_viz1_region.csv',index=False)
data_viz1_region.to_json('data_viz1_region.json', orient='records',index=False)

In [15]:
data_viz1 = preprocess_scatter(combine, cols = ['Type', 'Key Account'])

In [16]:
def calculate_growth(data_viz1,cols = ['Type', 'Key Account']):
    # filter for 2 years
    data_19 = data_viz1[data_viz1['order_year'] == 2019]
    data_23 = data_viz1[data_viz1['order_year'] == 2023]

    # join the years together
    data_viz1 = data_23.drop('order_year',axis=1).merge(data_19.drop('order_year',axis=1), on = cols,suffixes=('_23', '_19'))
    # calculate growth between the 2 yeaers
    data_viz1['growth_tot'] = data_viz1['ProductPricesInCP_split_23']/data_viz1['ProductPricesInCP_split_19'] - 1

    return data_viz1

In [17]:
# Calculate 2023-2019 growth
data_viz1 = calculate_growth(data_viz1,cols = ['Type', 'Key Account'])

In [18]:
data_viz1.head()

,Type,Key Account,ProductPricesInCP_split_23,ProductPricesInCP_split_19,growth_tot
0,TOOLS & KITS,Bottle's Up,1275150.0,1258573.0,0.013171
1,TOOLS & KITS,Night's Knights,1145674.0,1260854.0,-0.091351
2,TOOLS & KITS,Order of the Gauntlet,912558.0,1066975.0,-0.144724
3,SUMMONING DEVICE,Three Wishes,517030.0,555780.0,-0.069722
4,TOOLS & KITS,Private Buyer,6297244.0,6033068.0,0.043788

In [19]:
data_viz1.to_csv('data_viz1.csv',index=False)
data_viz1.to_json('data_viz1.json', orient='records',index=False)